.header{
    background-color: #2d2b2a;
    height: 9vh;
    padding: 1rem 6rem ;
   
}

@media screen and (max-width:400px){
    .header{
        height: 5vh;
        padding: 1rem ;
        
    }
    .container .center .icon {
        display: none;
    }
    .container{
        display: flex;
   
        align-items: center;
    }
    .right{
        display: none;
    }
    .right2 img{
        height: 1.5rem;
        width: 1.5rem;
        margin-left: 0.5rem;
    }

   
  

}
@media screen and (min-width:400px){
    .right2{
        display: none;
    }
    
}



.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.left img{
    height: 3rem;
    width: 6rem;
    
    
}

.center{
    display: flex;
    gap: 2rem;
}
.icon{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    cursor: pointer;
    transition: color 1s;
}
.icon img{
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.5rem;
}
.icon:hover{
    color: rgb(56, 174, 221);
    
}

.right{
    color: white;
    cursor: pointer;
    
    
}
.right span{
    margin-left: 1rem;
}