.poster{
    position: relative;
    overflow: hidden;
    height:25rem;
    width: 20rem;
}

.container:hover .posterImg img{
 height: 35rem;
}



.posterImg img{
    height:25rem;
    width: 20rem;
    object-fit: cover;
    transition: height 0.5s;
    
    
  
    
}


.posterIcon{
    position: absolute;
    color: white;
    top: 23rem;

    

    
}
.icon2{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    margin-left: 1rem;
    transition: color 1s;
}
.icon2:hover{
    color: #007bff;
}
.icon2 img{
    height: 1.5rem;
    width: 1.5rem;
}

