.login{
    background-image:url("https://www.qfxcinemas.com/assets/images/bg-body.jpg");
    background-size: cover;
    min-height: 100vh;
    max-width: 100vw;
}
.wrapper2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.forgotPass{
  
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.forgotPass:hover{
    color: #007e9e;

}
.registerPage1{
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.registerPage1:hover{
    color: #007e9e;
}
.wrapper2 h1{
    color: #007e9e;
    text-transform: uppercase;
    font-weight: 400;
    background:#d8d5d5;
    padding: 1.3rem 17rem;
}


.wrapper2 .inputForm .submit1{
    display: flex;
    justify-content: center;
    padding: 1rem 5rem 1rem 5rem;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 13rem;
    color: white;
    font-weight: 500;
    background-color: grey;
}