.slider .container{
    display: flex;
    flex-direction: column;
}

.imgSlider {
    width: 100vw;
    height: 85vh;
    object-fit:cover;
    

}

.text1 {
    position: absolute;
    color: white;
    left: 10rem;
    top: 40rem;
    
}

.icons{
    display: flex;
}
.text .icons .icon{
    display: flex;
    flex-direction: row;
}