.slider .container{
    display: flex;
    flex-direction: column;
}

.imgSlider {
    width: 98.9vw;
    height: 85vh;
    
}

.imgSlider img{
    width: 100vw;
    height: 50vh;
}


.text1 {
    position: absolute;
    color: white;
    left: 10rem;
    top: 35rem;
    
    
}

.text1 h1{
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.icons{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}
.icon1{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.icon1 img{
    height: 2rem;
    width: 2rem;
}

.increase{
    position: absolute;
    top: 25rem;
    left: 2rem;
    cursor: pointer;
    
}
.increase img{
    height: 2rem;
    width: 2rem;
    background-color: grey;
    padding: 1rem;
    border-radius: 50%;
}

.decrease{
    position: absolute;
    top: 25rem;
    right: 2rem;
    cursor: pointer;

}
.decrease img{
    height: 2rem;
    width: 2rem;
    background-color: grey;
    padding: 1rem;
    border-radius: 50%;
}