.trailer{
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    position: relative;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    scroll-behavior: smooth;

}

.trailer .container{
    position: absolute;
    width: 70vw;
    height: 80vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5rem;
    left: 15rem;

}
.lefts{
    flex:1
}
.lefts iframe{
    height: 80vh;
    margin-top: 0.2rem;
}

.rights{
    flex: 1;
      background-color: rgba(216, 213, 213, 0.955);
    height: 80vh;
}