.trailer{
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    position: relative;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    scroll-behavior: smooth;

}

.trailer .container{
    position: absolute;
    width: 73vw;
    height: 80vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5rem;
    left: 15rem;

}
.lefts{
    flex:1
}
.lefts iframe{
    height: 80vh;
    margin-top: 0.2rem;
}

.rights{
    flex: 1;
    background-color: rgba(216, 213, 213, 0.955);
    height: 80vh;
    padding:2rem;
    justify-content: center;
    
    
}

.first{
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
    justify-content: space-between;
    
}
.title span{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
.first .icon4 img{
    height: 2rem;
    width: 2rem;
}
.icon4{
    cursor: pointer;
    margin-left: 2rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    
}



.icon4 span{
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 0.4rem;
}

.movieDetails p{
    margin-bottom: 1.3rem;
}
.description p {
    margin-top: 1rem;
}

button{
    background-color: grey;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    font-weight: 200;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-top: 2rem;
    cursor: pointer;
    margin-left: 25rem;
    transition: 0.5s ease-in-out;
}
.description p .mp{
    margin-top: 1rem;
}

button:hover{
    -webkit-box-shadow: 5px 7px 13px 4px rgba(0,0,0,0.58); 
box-shadow: 5px 7px 13px 4px rgba(0,0,0,0.58);
}