.home{
    background-image:url("https://www.qfxcinemas.com/assets/images/bg-body.jpg");
    background-size: cover;
    width: 98.8vw;
}

@media  screen and (max-width:400px) {
    .home{
        width: 107vw;
    }
    
}

.shows{
    padding: 2rem 6rem;
}

.shows h1{
    color: #007e9e;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 1rem;
 

}

.viewAll{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    cursor: pointer;
    font-size: 1rem;
}

.viewAll h1{
    display: flex;
    font-size: 1.3rem;
    color: #007e9e;

}

.material-symbols-outlined{
 
    font-weight: 500;
    color: #007e9e;
    width: 1rem;
    
}